.border:before,
.border:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: flex;
  flex-wrap: nowrap;
}
.studio {
  color: #2e2f42;
}
.menu {
  visibility: hidden;
}
.text-adres {
  visibility: hidden;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.first-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service:focus,
.button-order-service:active {
  color: #404bbf;
  background-color: #404bbf;
}
.title-box {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.head-work-rules {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraph-work-rules {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.employe-head {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.employe-job {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 8px;
}
.head-ourportfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraph-ourportfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.second-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-item-ourteam {
  display: block;

  gap: 24px;
}
.item-ourteam {
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media (min-width: 768px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: flex;
    flex-wrap: nowrap;
  }
  .studio {
    color: #2e2f42;
  }
  .contacts {
    display: block;
    gap: 40px;
  }
  .text-adres {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-style: normal;
    visibility: visible;
  }
  a {
    text-decoration: none;
  }
  .link-adres {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-adres:hover,
  .link-adres:focus {
    color: #404bbf;
  }

  .linktext:hover,
  .linktext:focus {
    color: #404bbf;
  }
  .linktext {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu {
    visibility: visible;
  }
  .list-item-ourteam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    gap: 24px;
  }
  .item-ourteam {
    background-color: #ffffff;
    flex-basis: calc((100% - 24px) / 2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media (min-width: 1158px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }
  .studio {
    color: #2e2f42;
  }
  .contacts {
    display: flex;
    gap: 40px;
  }
  .text-adres {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  a {
    text-decoration: none;
  }
  .link-adres {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-adres:hover,
  .link-adres:focus {
    color: #404bbf;
  }

  .linktext:hover,
  .linktext:focus {
    color: #404bbf;
  }
  .linktext {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu {
    visibility: visible;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 1158px) {
  .list-item-ourteam {
    display: flex;
    gap: 24px;
  }
  .item-ourteam {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
.text-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.header-styles {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-info {
  display: flex;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.navigating {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu {
  display: flex;
  gap: 40px;
}

.characteristics-organization {
  display: block;
  gap: 72px;
}
.work-rules-item {
  padding-bottom: 72px;
}
.icons {
  display: none;
}

@media (min-width: 768px) {
  .characteristics-organization {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .work-rules-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .icons {
    display: none;
  }
}
@media (min-width: 1158px) {
  .characteristics-organization {
    display: flex;
    gap: 24px;
  }
  .work-rules-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.work-rules {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.employe {
  padding: 32px 0px;
}
.section-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-item-ourportfolio {
  display: block;
  row-gap: 72px;
}
.item-ourportfolio {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-list-social-media {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .list-item-ourportfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .item-ourportfolio {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-list-social-media {
    display: flex;
    gap: 16px;
  }
}
@media (min-width: 1158px) {
  .list-item-ourportfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .item-ourportfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-list-social-media {
    display: flex;
    gap: 16px;
  }
}
.item-ourportfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.app {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.employe-social-media {
  width: 40px;
  height: 40px;
}
.footer-item-social-media {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media:hover {
  background-color: #404bbf;
}
.media:focus {
  background-color: #404bbf;
}
.media-footer:hover {
  background-color: #31d0aa;
}
.media-footer:focus {
  background-color: #31d0aa;
}

.foot-p-socialmedia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.footer-logo-and-p {
  margin-bottom: 72px;
}
.footer {
  display: block;
  row-gap: 72px;
}
.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 8px;
}
.personal-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  gap: 24px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo-and-p {
    margin-right: 120px;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
  .form-subscribe {
    margin-bottom: 8px;
    gap: 24px;
    justify-content: left;
  }
  .personal-contact {
    display: flex;
    gap: 24px;
  }
  .foot-p-socialmedia {
    justify-items: left;
  }
}
@media (min-width: 1158px) {
  .footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .form-subscribe {
    margin-bottom: 8px;
    margin-left: 80px;
    gap: 24px;
    justify-content: left;
  }
  .footer-logo-and-p {
    margin-right: 120px;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
  }
  .personal-contact {
    display: flex;
    gap: 24px;
  }
  .foot-p-socialmedia {
    justify-items: left;
  }
}
.footer-icon {
  fill: #f4f4fd;
}
.media-icon {
  fill: #f4f4fd;
}
.text-on-image {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}

.show-text-on-images {
  overflow: hidden;
  position: relative;
}
.item-ourportfolio:hover .text-on-image {
  transform: translateY(0%);
}
.one {
  color: #404bbf;
}
.subscribe {
  /* margin-bottom: 16px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.email-input-field {
  font-size: 12px;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.sub-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: 24px;
}
.sendicon {
  fill: #fff;
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.x-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.x-button:hover,
.x-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.leave-your-contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
  margin-bottom: 8px;
}
.label {
  font-weight: 400;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}
.input-and-icon {
  position: relative;
}
.input-style {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-style:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-style:focus + svg {
  fill: #4d5ae5;
}
.comment-area {
  margin-bottom: 16px;
}
.comment-section {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-section:focus {
  border-color: #4d5ae5;
}
.checkbox-with-label {
  margin-bottom: 24px;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.is-open {
  visibility: visible;
  opacity: 1;
}
.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
